 .chessBoard {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 70%;
    padding: 10% 10%; 
    margin: 20px 30px;
    box-sizing: border-box;
} 

*{
    margin: 0;
    padding: 10 10 10 10;
    box-sizing: border-box;
} 